body{
    text-align: center;
}
main{
    background-color: #9b9b9b;
}
header{
    background-color:hsl(0deg 0% 29%);
    color: white;
}
@media only screen and (max-width: 580px){

.body{
    background-color: hsl(0deg 0% 61%);
}
.header1{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
    text-align: left;
}
.header2{
    background-color:hsl(0deg 0% 29%);
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    text-align: center;
}

.display{
    display: block;
    margin: auto;
    display: table-caption;
    display: table;

}

.display-dev{
    display: grid;
    margin: 10px;
}
i{
    float: right;

}
label{
    margin: 15px;
    background-color: hsl(0deg 0% 85%);
    font-size: 20px;
    padding: 15px;
    width: 300px;
}
.submit{
    background-color:black;
    color: white;
    padding: 15px;
    margin: 13px;
}
.place {
    padding: 10px 2px 10px 2px;
    margin: 12px;

}
}